<header>
    <ul class="header-items">
        <il><a href="#">Meus trabalhos</a></il>

        <il><a href="#">Quem sou eu</a></il>

        <il><a href="#">Meu Blog</a></il>
    </ul>
</header>

<style>
    header {
        top: 0;
        border: solid 1px black;
        margin-bottom: 15px;
    }

    .header-items {
        display: flex;
        justify-content: space-evenly;
        padding-inline: 25rem;
    }

    .header-items a {
        text-decoration: none;
        color: inherit; /* PLACEHOLDER! Trocar depois, isso pega a cor selecionada do parente */
    }
</style>
